@font-face {
  font-family: "iconfont"; /* Project id 3161149 */
  src: url('iconfont.woff2?t=1647087977007') format('woff2'),
       url('iconfont.woff?t=1647087977007') format('woff'),
       url('iconfont.ttf?t=1647087977007') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-9-zuo:before {
  content: "\e8ce";
}

.icon-a-11-shang:before {
  content: "\e8cf";
}

.icon-a-10-you:before {
  content: "\e8d0";
}

.icon-a-13-xihuan:before {
  content: "\e8d1";
}

.icon-a-12-xia:before {
  content: "\e8d2";
}

.icon-a-32-wenjian:before {
  content: "\e8d3";
}

.icon-a-22-shanchu:before {
  content: "\e8d4";
}

.icon-a-39-shangchuan:before {
  content: "\e8d5";
}

.icon-a-40-xiazai:before {
  content: "\e8d6";
}

.icon-a-43-guanbi:before {
  content: "\e8d7";
}

.icon-a-45-suoxiao:before {
  content: "\e8d8";
}

.icon-a-48-daochu:before {
  content: "\e8d9";
}

.icon-a-44-fangda:before {
  content: "\e8da";
}

.icon-a-54-caijian:before {
  content: "\e8db";
}

.icon-a-55-fuzhi:before {
  content: "\e8dc";
}

.icon-a-75-shuaxin:before {
  content: "\e8dd";
}

.icon-a-182-shezhi:before {
  content: "\e8e0";
}

.icon-icon-:before {
  content: "\e6f9";
}

.icon-icon-1:before {
  content: "\e6fa";
}

.icon-icon-2:before {
  content: "\e6fb";
}

.icon-icon-3:before {
  content: "\e6fc";
}

.icon-icon-4:before {
  content: "\e6fd";
}

.icon-icon-5:before {
  content: "\e6fe";
}

.icon-icon-6:before {
  content: "\e6ff";
}

.icon-icon-7:before {
  content: "\e700";
}

.icon-icon-8:before {
  content: "\e701";
}

.icon-icon-9:before {
  content: "\e702";
}

.icon-icon-10:before {
  content: "\e703";
}

.icon-icon-11:before {
  content: "\e704";
}

.icon-icon-12:before {
  content: "\e705";
}

.icon-icon-13:before {
  content: "\e706";
}

.icon-icon-14:before {
  content: "\e707";
}

.icon-icon-15:before {
  content: "\e708";
}

.icon-icon-16:before {
  content: "\e709";
}

.icon-icon-17:before {
  content: "\e70a";
}

.icon-icon-18:before {
  content: "\e70b";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-xinyongqia:before {
  content: "\e785";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-leimu:before {
  content: "\e78e";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-zantong:before {
  content: "\e794";
}

